/* Headings and borders */
h4 {
    background-color: #14213d;
    color: #e5e5e5;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

h2,
p {
    padding-bottom: 10px;
}

h2 {
    padding-top: 10px;
}

#map,
#wishList,
#dontforget {
    border: 2px solid #14213d;
}

/* Navbar */
nav {
  background-color: #14213d;
  color: #e5e5e5;
}

.navbar-toggler-icon {
    border: 2px solid #e5e5e5;
}

.nav-link {
    color: #e5e5e5;
}

.dropdown {
    background-color: #14213d;
    color: #e5e5e5;
}

/* About */
.about {
    color: #e5e5e5;
    background:  url('../images/about.jpeg') no-repeat center;
    background-size: 100%;
    text-align: center; 
    font-size: 100%;
}

/* Map */
#map {
    margin: 10px;
    height: 60vh;
}

/* Wish List and Don't Forget*/
#wishList,
#dontforget {
   min-height: 300px;
    text-align: center;
    margin-bottom: 10px;
}

#dontforget {
    background:  url('../images/dontforget.jpeg') no-repeat center;
    background-size: 100%;
}

#wishList {
    background-color: #1c20ee;
}

.todo-item,
.items {
    padding-top: 5px;
    font-size: 150%;
    list-style: none;
    color: #e5e5e5;
    text-align: center;
}

.toto-item {
    display: flex;
    padding-left: 5px;
}

.fa-trash {
    pointer-events: none;
}

.todo-button,
.trash-btn {
    background-color: #14213d;
    color: #e5e5e5;
}

/* Footer */
footer {
    background-color: #14213d;
    height: 30px;
}
