/* Headings and borders */
h4 {
    background-color: #14213d;
    color: #e5e5e5;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

h2,
p {
    padding-bottom: 10px;
}

h2 {
    padding-top: 10px;
}

#map,
#wishList,
#dontforget {
    border: 2px solid #14213d;
}

/* Navbar */
.nav-link,
.navbar {
  background-color: #14213d;
  color: #e5e5e5;
}

.navbar-toggler {
    outline: none;
}

#nav-icon {
    color: #e5e5e5;
}

/* About */
.about {
    color: #e5e5e5;
    background:  url('../images/about.jpeg') no-repeat center;
    background-size: 100%;
    text-align: center; 
    font-size: 100%;
}

/* Map */
#map {
    margin: 10px;
    height: 60vh;
}

/* Wish List and Don't Forget*/
#wishList,
#dontforget {
    min-height: 300px;
    text-align: center;
    margin-bottom: 10px;
}

#dontforget {
    background:  url('../images/dontforget.jpeg') no-repeat center;
    background-size: 100%;
}

#wishList {
    background-color: #1c20ee;
}

.location-item,
.items {
    padding-top: 10px;
    font-size: 150%;
    color: #e5e5e5;
}

.items {
    list-style: none;
}

.location-list,
.location-item {
   list-style-type: decimal;
   display: inline-block;
}

.fa-trash {
    pointer-events: none;
}

.location-button,
.remove-btn {
    background-color: #14213d;
    color: #e5e5e5;
}

.remove-btn {
   margin: 5px;
}

/* Footer */
footer {
    background-color: #14213d;
    height: 30px;
}
